<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
        
     <! ––This is an example of a 'Substitution Tag' -->
        <h1> <%= "I love " + "Ruby!!" %> </h1>
        <%= 1 + 1 %>
        
        
    <! ––These are examples of 'Scripting Tags' -->
        <%= 1 + 1 %>
        
        <% if 1 == 2 %>
            <p>1 equals 2.</p>
        <% else %>
            <p>1 does not equal 2.</p>
        <% end %>
        
        <ul>
          <% squares = [1, 4, 9, 16] %>
          <% squares.each do |square| %>
            <li><%= square %></li>
          <% end %>
        </ul>
        
        
      <! ––Wall post(s) example -->
      <h1>My Facebook Wall Posts</h1>
        <% wall_posts = ["First post!", "Second post!", "Hello, it's your mother. Why don't you ever call me?"] %>
        <ul>
          <% wall_posts.each do |post| %>
            <li><%= post %></li>
          <% end %>
        </ul>
        
    </body>
</html>